// Base grayscale colors definitions
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #2e4057;

// Base colors definitions
$blue: #db3069;
$indigo: #6610f2;
$purple: #820263;
$pink: #d84797;
$red: #db3069;
$orange: #fb8b24;
$yellow: #d84797;
$green: #4e8c33;
$teal: #04a777;
$cyan: #6610f2;

$border-radius: 0rem !default;
$border-radius-lg: 0rem !default;
$border-radius-sm: 0rem !default;

$rounded-pill: 0rem !default;

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$headings-font-family: 'Roboto Condensed', sans-serif !default;
$font-family-monospace: monospace !default;

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';
